<%= content_for :info do %>
    <ul class="nav nav-stacked nav-pills pull-right menu_select" style="margin-top: 0px; text-align: center;">
      <li class="btn-warning" id="ad-menu-toggle_view_deck">
        <a href="#" onclick="$('.ad-menu-item').slideToggle();"><i class="icon-tasks"></i></a></li>
      <li class="active ad-menu-item"><a href="/console"><i class=""></i>Home</a></li>
      <li class="active ad-menu-item"><a id="slide_prev"><i class=""></i>Prev</a></li>
      <li class="active ad-menu-item"><a id="slide_next" href=""><i class=""></i>Next</a></li>
    </ul>

    <!--<div id="title_wrap"><%#= @search_string %></div>-->
    <div id="infobox" style="background-color: rgba(0,0,0,0.8);color: green;height: 498px;width: 700px;padding: 20px;margin: 25px auto;">
      Trying to autocreate a Presentation on <%= params[:name].gsub("_", " ") %>...
    </div>
    <div id="view_deck" style="background-color: #ffffff;color: black;width:700px;margin-left: 110px;margin-top:-84px;padding: 20px;display: none;">
      Click <a id="view_deck_btn" href="">here</a> to View presentation <%#= @search_string %>
    </div>
<% end %>

<%= content_for :scripts do %>

    <style>
        #infobox a {
            color: green;
            text-decoration: underline;
        }
        #infobox a:hover{
            color: green;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.nav').hide();
            select_theme();
        });

        function select_theme() {
            $('#infobox').append('<br/><span id="theme_name"></span> ');
            if (gon.disambiguate) {
                $('#infobox').append('<br/>We found multiple results for your search query<br><br> Which one do you want to create a presentation on <br>(Select a number on your keyboard), or click <a href="/">Here</a> to go back.<br><br>');
                $.each(gon.disambiguation_options, function (index, elm) {
//                    $('#infobox').append((index + 1) + " : " + elm + "<br/>");
                    $('#infobox').append('<div id='+(index + 1)+' style="line-height: 1.5em;">' + (index + 1) + ": " + elm + '</div>');
                });
                $('body').bind('keypress', function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code > 48 && code < 58) { //Enter keycode
//                        alert(gon.disambiguation_options[parseInt(String.fromCharCode(code)) - 1]);
                        $.get('/wiki_theme/' + gon.search_string + '/' + (parseInt(String.fromCharCode(code)) - 1), function (data) {
//                            $('#theme_name').append(data.toString());
                            $('#infobox').append('<br/>Mining data... ');
                            $.get('/wiki_extract/' + gon.disambiguation_options[parseInt(String.fromCharCode(code)) - 1] + '/0', function (data) {
                                $('#infobox').append("<br>Data collected...<br>");
                                $('#infobox').append(data.toString().split("|")[0]);
                                $('#infobox').append("<br>Searching for images...");
                                $.get('/image_search/'+gon.disambiguation_options[parseInt(String.fromCharCode(code)) - 1]+'/'+data.toString().split('|')[1],function(data){
                                    $('#infobox').append("<br>Searching for images complete...");
                                    $('#infobox').append("<br>Creating your presentation...<br>");
                                    $('#infobox').append(data.toString().split("|")[0]);
                                    setTimeout(function(){
                                        $("#view_deck_btn").attr('href','/view_deck/'+data.toString().split('|')[1]);
                                        $("#view_deck").show();
                                    },2000);
                                })
                            });
                        });
                    }
                });
            } else {
                $.get('/wiki_theme/' + gon.search_string + '/0', function (data) {
//                    $('#theme_name').append(data.toString());
                    $('#infobox').append('<br/>Mining data... ');
                    $.get('/wiki_extract/' + gon.search_string + '/0', function (data) {
                        $('#infobox').append("<br>Data collected...<br>");
                        $('#infobox').append(data.toString().split("|")[0]);
                        $('#infobox').append("<br>Searching for images...");
                        $.get('/image_search/'+gon.search_string+'/'+data.toString().split('|')[1],function(data){
                            $('#infobox').append("<br>Searching for images complete...");
                            $('#infobox').append("<br>Creating your presentation...<br>");
                            $('#infobox').append(data.toString().split("|")[0]);
                            setTimeout(function(){
                                $("#view_deck_btn").attr('href','/view_deck/'+data.toString().split('|')[1]);
                                $("#view_deck").show();
                            },2000);
                        })
                    });
                });
            }
        }
    </script>
<% end %>