<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/jimpress/jmpress.min.js"></script>
    <script type="text/javascript" src="/assets/jimpress/jquery.jmslideshow.js"></script>
    <script type="text/javascript" src="/assets/jimpress/modernizr.custom.48780.js"></script>
    <script type="text/javascript" src="/assets/jimpress/init.js"></script>
<% end %>
<%= content_for :styles do %>
    <link href="/assets/jimpress/jimpress.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <section id="jms-slideshow" class="jms-slideshow"></section>
<% end %>