<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/littleboxesmenu/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/littleboxesmenu/init.js"></script>
<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" href="/assets/littleboxesmenu/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/assets/littleboxesmenu/littleboxmenu.css" type="text/css" media="screen"/>

<% end %>


<%= content_for :widget_wrap do %>
    <div id="littleBoxes" class="littleBoxes">

    </div>

<% end %>


