<%= content_for :scripts do %>
    <script src="/assets/stack_slider/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="/assets/stack_slider/jquery.stackslider.js"></script>
    <script type="text/javascript" src="/assets/stack_slider/init.js"></script>

<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" type="text/css" href="/assets/stack_slider/style.css" />
<% end %>


<%= content_for :widget_wrap do %>
    <div class="main">
      <ul id="st-stack" class="st-stack-raw">

      </ul>
    </div>

<% end %>