html {
    background: black;
    font-family: serif;
}

body {
    background-image: url('/assets/console_background.jpg');
    background-repeat: repeat;
    height: 600px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 10px 25px;
    font-family: Arial;
    border: 1px solid #96641e;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 5px 0px 0px;
}

.btn {
    margin: 0 0 5px;
    text-align: left;
    padding: 5px;
}

.ad_btn {
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

#new_deck_Modal {
    width: 680px;
    height: 418px;
    left: 44%;
    text-align: center;
}


#new_deck_Modal .modal-header {
    margin-top: 40px;
}

#new_deck_Modal .modal-header .close {
    margin-top: -35px;
}

#new_presentation {
    margin-top: 30px;
}

#new_deck_Modal #presentation_name {
    width: 300px;
}

.modal-footer #new_deck_Modal_create_btn {
    position: absolute;
    right: 265px;
    margin-top: 72px;
    font-size: 16px;
    padding: 10px;
    width: 128px;
}

#new_deck_Modal .modal-footer {
    bottom: 0px;
    margin-top: 30px;
    height: 165px;
}

#new_presentation .modal-footer #new_deck_Modal_search_from_wiki {
    position: absolute;
    right: 265px;
    width: 128px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;

}

/* Right Panel Styles*/
/* ------------------------------------- */

#right_panel {
    width: 480px;
    float: right;
    margin-right: 30px;
    border-radius: 10px;
    text-align: center;
}

#logo {
    text-align: left;
    margin-left: 20px;
}

#logo img {
    width: 140px;
}

#right_panel h2 {
    margin: 0 0 20px 5px;
    padding: 0;
}

#headline {
    margin-top: 10px;
    margin-right: 40px;
    float: right;
    width: 240px;
    font-size: 32px;
    line-height: 32px;
    opacity: 0.7;
    z-index: 99;
    position: relative;
}

#writeup {
    width: 420px;
    background: black;
    margin: 30px 0 5px 5px;
    color: #ffae41;
    font-size: 20px;
    line-height: 1.35em;
    height: 258px;
    border-radius: 10px;
    opacity: 0.7;
    padding: 20px;
}

#writeup h3 {
    color: white;
    line-height: 28px;
    margin-bottom: 28px;
}

#active_presentation {
    height: 292px;
    width: 160px;
    margin: 0 0 5px 5px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

#active_slide {
    height: 292px;
    width: 160px;
    margin: 0 0 5px 5px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

/* -------------------------------- */

.main_panel {
    width: 400px;
    float: left;
    height: 545px;
    background: #f5f5cc;
    border-radius: 10px;
    display: none;
    text-align: center;
    overflow: hidden;
    border: 2px solid #96641e;
    opacity: 0.75;

}

#slide_form_panel {
    width: 640px;
    margin-right: 10px;
}

#deck_list {
    float: left;
    margin-left: 20px;
}

.main_panel #new_deck_btn, .main_panel #new_slide_btn {
    width: 200px;
    text-align: center;
}

#slide_form_panel_header {
    font-size: 24.5px;
    font-weight: bold;
    padding: 20px 20px 10px;
}

.slide_layout {
    height: 120px;
    width: 165px;
    padding: 5px;
    float: left;
    margin: 5px 6px 5px 6px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}

.del_slide {
    float: right;
    top: -5px;
    right: -2px;
    cursor: pointer;
}

.show_this_slide {
    /*width: 100%;*/
    width: 145px;
    text-align: center;
}

/* Presentations DataTable*/
/*------------------------------------*/

#presentations_table_wrapper, #presentations_table, #presentations_slides_table, .datatables_scroll {
    width: 215px;
    overflow: auto;
    margin: 0 auto;
    padding-right: 5px;
}

.presentation_filter, .slide_filter {
    width: 200px;
    overflow: auto;
    margin: 0 auto;
    text-align: center;
}

.datatable_button, .show_this_presentation {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

#presentation_slides_index h3 {
    text-transform: capitalize;
}

#presentations_slides_list {
    width: 215px;
    height: 350px;
    overflow: auto;
    padding-right: 5px;
    text-align: center;
    margin: 65px auto 0;
    list-style: none;

}

#presentations_slides_list li {
    padding: 2px 0 0px 0;
    /*margin: 0 0 5px;*/
    /*padding: 5px;*/
}

/* ------------------------------------------ */

#left_panel .btn {
    width: 200px;
    text-align: center;
}

#content_block_header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.remove_nested_fields {
    font-size: 14px;
}

.active_presentation_panel {
    min-height: 418px;
}

#presentation_name_msg {
    color: graytext;
    float: right;
    margin-right: 130px;
    position: relative;
    right: -55px;
    top: -12px;
}

#presentation_name_msg sub, sup {
    font-size: 12px;
}

#new_presentation .modal-footer .btn {
    /*width: 60px;*/
    text-align: center;
}

/* Navbar */
/*----------------------------------*/

.navbar {
    margin: -25px 0px 0px -12px;
    position: relative;
    width: 985px;
    z-index: 99;
    border-radius: 0px;
}

.navbar-inner {
    height: 50px;
    border: none;
    border-radius: 0px 0px 5px 5px;
}

.navbar-inverse .brand {
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
}

.nav > li > a {
    margin-right: -32px;
    color: white;
    margin-top: 5px
}

.nav > li > a > img {
    top: 10px;
    height: 32px;
}

#sign_out_btn {
    float: right;
    top: -22px;
    right: 4px;
    position: relative;
}

#help {
    float: right;
    top: -22px;
    right: -5px;
    position: relative;
    cursor: pointer;
}

/* -------------------------------------------------------- */

#add_images_and_cap {
    position: relative;

}

.form-horizontal .controls {
    margin-left: 0px;
}

hr {
    margin: 15px;
}

.bottom-up {
    top: auto;
    bottom: 100%;
    z-index: 999999;
}

.bottom-up li {
    position: relative;
    z-index: 999999;
}

.navbar .dropdown-menu.bottom-up:before {
    border-bottom: 0px solid transparent !important;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    top: auto !important;
    bottom: -7px;

}

.navbar .dropdown-menu.bottom-up:after {
    border-bottom: 0px solid transparent !important;
    border-top: 6px solid white;
    top: auto !important;
    bottom: -6px;
}

.file_block {
    position: relative;
}

.file_block a:hover {
    text-decoration: none;
}

#existing_titlepic {
    position: absolute;
    top: 7px;
    left: 70px;
    text-align: left;
}

.overlap_file_field {
    color: gray;
    position: absolute;
    top: 7px;
    left: 70px;
    text-align: left;
}

#instruction_block {
    padding: 40px;
}