#subtitle_back {
    display: none;
    height: 145px;
    left: 53px;
    padding: 0 30px 30px;
    position: absolute;
    text-align: left;
    top: 160px;
    white-space: pre-wrap;
    width: 350px;
    word-wrap: break-word;
    background: white;
    opacity: 0.15;
}

#subtitle {
    display: none;
    height: 400px;
    left: 53px;
    padding: 0 30px 30px;
    position: absolute;
    text-align: left;
    top: 75px;
    white-space: pre-wrap;
    width: 350px;
    word-wrap: break-word;
}

#titlepic {
    top: 208px;
    display: none;
    left: 85px;
    /*transform:rotate(350deg);*/
    position: absolute;
    text-align: center;
    width: 270px;
    padding: 30px;
}

#titlepic img{
    max-width: 270px;
    border: 8px solid white;
}

.elements ol, ul {
    margin: 5px 5px 5px 28px;
}

.elements  li{
    line-height:25px;
    margin-bottom: 10px;
}

#title_wrap {
    display: none;
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    height: 50px;
    width:828px;
    margin-top: 70px;
    margin-left: -10px;
    padding: 20px;
    display: none;
}

.nav{
    z-index: 5555;
}

#widget_wrap{
    position: absolute;
    height: 360px;
    width: 350px;
    right:  114px;
    /*top: 95px;*/
    bottom: 15px;
    color: white;
    padding: 20px;
    /*background-color: rgba(0,0,0,0.7);*/
}
