#caption_wrap_back, #caption_wrap  {
    display: none;
}

#widget_wrap {
    height: 300px;
    /*margin-top: 280px;*/
    margin-top: 228px;
    display: none;
    margin-left:-30px;
}

#title_wrap {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    height: 100px;
    left: 76px;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 320px;
    /*text-transform:capitalize;*/
}

#subtitle {
    height: 200px;
    width: 295px;
    text-align: center;
    font-size: 1.2em;
    display: none;
    top: -10px;
    left: 500px;
    position: absolute;
    padding: 30px;
}

#subtitle_back {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    font-size: 1.2em;
    height: 100px;
    left: 500px;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 295px;
}
#titlepic {
    height: 200px;
    width: 320px;
    text-align: center;
    font-size: 1.2em;
    display: none;
    top: 18px;
    left: 500px;
    position: absolute;
    padding: 30px;
}

#titlepic img{
    max-height: 200px;
    margin-top: -63px;
    max-width: 266px;

}