#subtitle_back {
    height: 10%;
    width: 88%;
    position: absolute;
    margin-top: 8%;
    margin-left: -10px;
    border: 2px solid black;
    background-color: pink;
    opacity: 0.5;
}

#subtitle {
    bottom: 100px;
    display: none;
    height: 280px;
    left: 56px;
    padding: 30px;
    position: absolute;
    text-align: center;
    width: 270px;
}

#titlepic {
    top: 20px;
    display: none;
    right: 150px;
    transform:rotate(350deg);
    position: absolute;
    text-align: center;
    width: 270px;
    padding: 30px;
}

#titlepic img{
    max-width: 270px;
}

#title_wrap{
    display: none;
    height: 50px;
    width: 290px;
    position: absolute;
    margin-top: 18px;
    margin-left: -10px;
    padding: 20px;
    right: 150px;
    top: 300px;
}

.nav{
    z-index: 5555;
}

#widget_wrap{
    position: absolute;
    height: 360px;
    width: 350px;
    left:  30px;
    top: 180px;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
}
