html {
    background: #1a1d10;
    font-family: serif;
}

body {
    background-image: url('console_background.jpg');
    background-repeat: repeat;
    height: 600px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: Arial;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 5px 0px 0px;
}

.btn {
    margin: 0 0 5px;
    text-align: left;
    padding: 5px;
}

.ad_btn {
    width: 90%;
    padding:10px;
}

#right_panel {
    width: 200px;
    float: right;
    margin-right: 40px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

#right_panel img, #right_panel span{
    margin-left: 20px;
}

.middle_panel {
    width: 400px;
    float: right;
    margin-right: 20px;
    height: 545px;
    background: white;
    border-radius: 10px;
    display: none;
    text-align: center;
    overflow: hidden;
}

.middle_panel #new_deck_btn {
    width: 200px;
    text-align: center;
}

.middle_panel #new_slide_btn {
    width: 200px;
    text-align: center;
}

#slide_form_panel_header {
    font-size: 24.5px;
    font-weight: bold;
    padding: 20px 20px 10px;
}

.slide_layout {
    height: 120px;
    width: 165px;
    padding: 5px;
    float: left;
    margin: 5px 6px 5px 6px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}

.del_slide {
    float: right;
    top: -5px;
    right: -2px;
    cursor: pointer;
}

.slide_contents {
    text-align: left;
}

#left_panel {
    width: 640px;
    float: left;
    margin-left: 40px;
    height: 545px;
    background: white;
    border-radius: 10px;
    text-align: center;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

.presentation_filter {
    width: 185px;
}

#presentations_table tr td:first-child {
    text-align: right;
    padding: 5px 5px 5px 5px;
}

#presentations_table tr td:last-child {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

#presentations_table tr td {
    padding: 5px 5px 5px 5px;
}

#presentations_table_filter {
    text-align: left;
    margin-left: 222px;
}

#presentations_table_filter label {
    font-size: 12px;
}

.presentation_contents {
    text-align: center;
}

#presentations_table .presentation_tools {
    padding: 0px 5px 0px 5px;
}

.presentation_tools img {
    height: 28px;
}

#left_panel .btn {
    width: 200px;
    text-align: center;
}

#right_panel img {
    width: 150px;
}

#right_panel h2 {
    margin: 0 0 20px;
    padding: 0;
}

#content_block_header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.content_block_caption_txt {
    resize: vertical;
    min-height: 42px;
    max-height: 200px;
    margin-top: 5px;
}

.remove_nested_fields {
    font-size: 14px;
}

.slide_field {
    width: 256px;
}

#writeup {
    width: 160px;
    margin: 0 0 5px 5px;
    color: white;
    padding: 10px;
    font-size: 14px;
    line-height: 1.35em;
    height: 308px;
}

#active_presentation {
    height: 292px;
    width: 160px;
    margin: 0 0 5px 5px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

#active_slide {
    height: 292px;
    width: 160px;
    margin: 0 0 5px 5px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

#active_presentation_name {
    margin-bottom: 5px;
    padding: 20px 20px 10px 20px;
    font-size: 24.5px;
    font-weight: bold;
}

.active_presentation_panel {
    margin: 10px;
    min-height: 418px;
}

#presentation_name_msg {
    color: graytext;
    float: right;
    margin-right: 130px;
    position: relative;
    right: -55px;
    top: -12px;
}

#presentation_name_msg sub, sup {
    font-size: 12px;
}

.modal-header h3 {
    text-align: center;
}

#new_deck_Modal {
    margin: 10px 0px 0px -311px;
    width: 400px;
    height: 220px;
    text-align: center;
}

#new_deck_Modal label {
    display: block;
    margin-bottom: 5px;
    margin-left: 76px;
    text-align: left;
}

#new_deck_Modal .form-actions {
    border-top: none;
    background: transparent;
}

.new_deck_Modal_btns {
    margin: 0;
    text-align: center;
}

#new_deck_Modal_close_btn {
    width: 63px;
    float: left;
}

#new_deck_Modal_create_btn {
    width: 60px;
    float: right;
}

#presentations_table_wrapper {
}

#presentations_table {
    /*margin: 0 auto;*/
    width: 33%;
    margin-left: 215px;
}

.navbar {
    margin: -25px 0px 0px -10px;
    position: relative;
    width: 981px;
    z-index: 99;
    border-radius: 0px;
}

.navbar-inner {
    height: 50px;
    border: none;
}

.navbar-inverse .brand {
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
}

.nav > li > a {
    margin-right: -32px;
    color: white;
    margin-top: 5px
}

.nav > li > a > img {
    top: 10px;
    height: 32px;
}

#sign_out_btn {
    float: right;
    top: -22px;
    right: 4px;
    position: relative;
}

#help {
    float: right;
    top: -22px;
    right: -5px;
    position: relative;
    cursor: pointer;
}


#add_images_and_cap{
    position: relative;

}


